{%- assign items = site.data[site.metadata] | where_exp: 'item','item.latitude != nil and item.longitude != nil' -%}
{%- assign fields = site.data.config-map -%}
<!-- load leaflet dependencies -->
<script src="{{ '/assets/lib/leaflet/leaflet.js' | absolute_url }}"></script>
{% if site.data.theme.map-search == true %}<script src="{{ '/assets/lib/leaflet/fuse.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/lib/leaflet/leaflet.fusesearch.js' | absolute_url }}"></script>{% endif %}
{% if site.data.theme.map-cluster == true %}<script src="{{ '/assets/lib/leaflet/leaflet.markercluster.js' | absolute_url }}"></script>{% endif %}
{% if site.data.theme.map-search == true and site.data.theme.map-cluster == true %}<script src="{{ '/assets/lib/leaflet/leaflet.markercluster.freezable.js' | absolute_url }}"></script>{% endif %}


<script type="text/javascript" src="{{'assets/data/counties.js' | relative_url }}"></script>
<script type="text/javascript">

var map = L.map('map').setView([{{ site.data.theme.latitude | default: 46.727485 }},{{ site.data.theme.longitude | default: -117.014185 }}],{{ site.data.theme.zoom-level | default: 5 }});

	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/light-v9',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(map);


	/* control that shows state info on hover
	var info = L.control();

	info.onAdd = function (map) {
		this._div = L.DomUtil.create('div', 'info');
		this.update();
		return this._div;
	};

	info.update = function (props) {
		this._div.innerHTML = '<h4>US Population Density</h4>' +  (props ?
			'<b>' + props.name + '</b><br />' + props.collections + ' '
			: 'Hover over a state');
	};

	info.addTo(map);


    */
	// get color depending on population density value
	function getColor(d) {
		return d > 40 ? '#800026' :
				d > 20  ? '#BD0026' :
				d > 16  ? '#E31A1C' :
				d > 12  ? '#FC4E2A' :
				d > 8   ? '#FD8D3C' :
				d > 4   ? '#FEB24C' :
				d > 2   ? '#FED976' :
							'#FFEDA0';
	}

	function style(feature) {
		return {
			weight: 2,
			opacity: 1,
			color: 'white',
			dashArray: '3',
			fillOpacity: 0.7,
			fillColor: getColor(feature.properties.number)
		};
	}

	function highlightFeature(e) {
		var layer = e.target;

		layer.setStyle({
			weight: 5,
			color: '#666',
			dashArray: '',
			fillOpacity: 0.7
		});

		if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
			layer.bringToFront();
		}

		//info.update(layer.feature.properties);
	}

	var geojson;

	function resetHighlight(e) {
		geojson.resetStyle(e.target);
		//info.update();
	}

	function zoomToFeature(e) {
		map.fitBounds(e.target.getBounds());
	}

	
/* object popup function */
function objectPopups(feature, layer) {
        /* create pop up */
        var itemHref = '{{ site.baseurl }}/browse.html#' + feature.properties.name;
        var popupTemplate = '<h4><a class="text-dark" href="' + itemHref + '">' +
            feature.properties.name + ' </a></h4><div class="collections-list"><p>' + feature.properties.collections;
        popupTemplate += '</p><div class="text-center"><a class="btn btn-light" href="' + itemHref + '" >View All ' + feature.properties.number + ' Collections</a></div>';
        layer.bindPopup(popupTemplate);
        layer.on({
			mouseover: highlightFeature,
			mouseout: resetHighlight,
		});
    }
    function objectMarkers(feature,latlng) {
        var marker = L.marker(latlng);
        {% if site.data.theme.map-cluster == true %}markers.addLayer(marker);{% endif %}
        return marker;
    }


geojson = L.geoJson(countyData, {
		style: style,
		onEachFeature: objectPopups,
        pointToLayer: objectMarkers
        
	}).addTo(map);

	map.attributionControl.addAttribution('Population data &copy; <a href="http://census.gov/">US Census Bureau</a>');


	var legend = L.control({position: 'bottomright'});

	legend.onAdd = function (map) {

		var div = L.DomUtil.create('div', 'info legend'),
			grades = [0, 10, 20, 50, 100, 200, 500, 1000],
			labels = [],
			from, to;

		for (var i = 0; i < grades.length; i++) {
			from = grades[i];
			to = grades[i + 1];

			labels.push(
				'<i style="background:' + getColor(from + 1) + '"></i> ' +
				from + (to ? '&ndash;' + to : '+'));
		}

		div.innerHTML = labels.join('<br>');
		return div;
	};

	legend.addTo(map);
</script>