{% if page.image_gallery != nil %}
{%- capture carousel-items-raw -%}{{page.image_gallery}}{% endcapture %}
{%- assign carousel-items = carousel-items-raw | split: ";" -%}
{% else %}
{%- capture carousel-items-raw -%}{{page.featured_image | plus: 1}};{{page.featured_image | plus: 2}};{{page.featured_image | plus: 3}};{{page.featured_image | plus: 4}};{{page.featured_image | plus: 5}};{{page.featured_image | plus: 6}}{% endcapture %}
{%- assign carousel-items = carousel-items-raw | split: ";" -%}
{% endif %}

<script> 
    var carouselItems = [ {% for c in carousel-items %}{% if forloop.first %}[ "{{ page.title | escape }}", "{% unless page.feature_image contains "/" %}{{ page.featured_image }}{%endunless%}", "{{ page.img_small }}" ],{% else %}[ "","{{ c }}", "https://{{page.cdm-collection}}.contentdm.oclc.org/digital/iiif/{{page.cdm-collection-id}}/{{ c }}/full/pct:50/0/default.jpg" ]{% unless forloop.last %}, {% endunless %}{% endif %}{% endfor %}];
    var placeholder = "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E";
    var carousel = document.getElementById("carouselInner");
    var i, itemImg;
    var slides = "";
    for (i=0; i < {{ carousel-items | size | at_most: 9 }}; i++) {
        slide = "<div class='carousel-item text-center py-2'><img class='image-fluid mx-auto h-100 lazyload' alt='image highlight' src='" + placeholder + "' data-src='" + carouselItems[i][2] + "'> <div class='carousel-caption'><h5 class='carousel-item-title text-white py-2'>" + carouselItems[i][0] + "</h5><a target='_blank' href='https://{{page.cdm-collection}}.contentdm.oclc.org/digital/collection/{{page.cdm-collection-id}}/id/" + carouselItems[i][1] + "' class='btn btn-sm btn-primary'>Go to Item</a></div></div>";
        slides += slide;
    }
    carousel.innerHTML = slides;
    $(".carousel-item").first().addClass("active");
</script>
