.card-body ul {list-style: square;}

.item{
    font-size: smaller;
}


.navbar-dark .navbar-nav .nav-link {

    color: white !important;

}


element {

}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {

    color: #fff;
    border-bottom: 1px solid white;
    padding-bottom: 2px;

}
/* Date Range Slider from Joost van der Schee at https://codepen.io/joosts/pen/rNLdxvK*/
.vizdiv, .coll-title{  transition: visibility 0s, opacity 0.5s linear;}
.vizdiv:hover{ background-color: rgba(206, 109, 109, 0.05) !important;}
.vizdiv:hover .coll-title{display: block !important;}

.min-max-slider {position: relative; width: 100%; text-align: center; margin-bottom: 50px;}
.min-max-slider > label {display: none;}
span.value {height: 2em; font-weight: bold; display: inline-block;}
span.value.lower::before {content: ""; display: inline-block;}
span.value.upper::before {content: "- "; display: inline-block; margin-left: 0.4em;}
.min-max-slider > .legend {display: flex; justify-content: space-between;}
.min-max-slider > .legend > * {font-size: small; opacity: 0.25;}
.min-max-slider > input {cursor: pointer; position: absolute;}

/* webkit specific styling */
.min-max-slider > input {
  -webkit-appearance: none;
  outline: none!important;
  background: transparent;
  background-image: linear-gradient(to bottom, transparent 0%, transparent 30%, silver 30%, silver 60%, transparent 60%, transparent 100%);
}
.min-max-slider > input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #76c893;
    border-radius: 2%;
    cursor: pointer;
  }
  .min-max-slider > input::-moz-range-thumb  {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #76c893;
    border-radius: 2%;
    cursor: pointer;
    content: "<span class='lower value'>";
  }
.min-max-slider > input::-webkit-slider-runnable-track {cursor: pointer;}
 
.hidden-range {
    display: none;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}