---
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row"> 
  <div class="col-md-12">

  {% include index/description.html %}

  <div class="col-md-7">
  <div id="map" style="max-height:500px"></div>
</div>
<div class="col-md-5">
  {% include index/featured-terms.html field="ctrl_subcat" title="Main Subjects" btn-color="info" featured=site.data.theme.featured-subjects max=7 %}



  {% include index/featured-terms.html field="material_type" title="Materials" btn-color="outline-secondary" max=7 %}

</div>
  <h2 class="mt-5">Featuring Collections From:</h2>
 
  <div class="row my-5 ">
    {% for org in site.data.orgs%}
  <a href="browse.html#{{org.short}}" class="m-3 text-center col-xs-12 col-md-3 p-3"  ><img class=" {%if org.img == 'isa.png' or org.img == 'isu.png'%}bg-dark p-2 {% endif %}"  src="/assets/img/logos/{{org.img}}" style="max-height:80px;" title="{{org.title}} logo"></a>
  {%endfor%}

  </div>
</div>
<div class="row"> 
  <div class="col-md-12">

    {% include index/carousel.html%}
    
  </div>
  <div class="col-md-4">  

    

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>

</div>