---
layout: default
gallery: true
---
{%- assign fields = site.data.config-metadata | where_exp: 'item', 'item.display_name != nil' -%}
<div class="container py-3">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ '/' | absolute_url }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ '/browse.html' | absolute_url }}">Collections</a></li>
        <li class="breadcrumb-item active">{{ page.title | truncatewords: 10 }}</li>
    </ul>

    <div class="row mt-2 mb-1">
<div class="col-md-9">
    <h1 class="h1 mb-4"><a class="text-dark" href="{{ page.download }}" target="_blank">{{page.title}}</a></h1>    
</div>
<div class="col-md-3 mb-2 text-right">
    <a class="btn btn-outline-success" href="{{ page.download }}" target="_blank">{% unless page.shortorg contains "SPUD"%}Go to  collection {% include icon.html filename="box-arrow-up-right" size="12" class="pb-1"%}{% else %}King Spud Rewards YOU! {% include icon.html filename="trophy" size="12" class="pb-1"%}{% endunless %}</a>
  </div>
</div>
  <div class="row">
        <div class="col-md-8" id="lightgallery">
            <div class="card mb-4 text-center">
                {% if page.format contains 'image' %}
                <div class="row">
                    <div class="col-md-12">
                        <div >
                            <div>
                                <p><a target="_blank" href="{{page.collectionid}}"><img src="{{ page.img_small | relative_url }}" alt="item thumbnail for {{ page.title | escape }} | Click to go to collection" class="img-fluid"></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                {%- else -%}
                <div class="mt-4">
                    <p>
                        {%- if page.format contains 'audio' -%}
                        <audio controls class="w-100">
                            <source src="{{ page.download }}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                        {%- elsif page.youtubeid -%}
                        <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/{{ page.youtubeid }}?rel=0&modestbranding=1" allowfullscreen></iframe></div>
                        {%- elsif page.format contains 'video' -%} 
                        <video width="320" height="240" controls>
                            <source src="{{ page.download }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        {%- else -%}
                        <a href="{{ page.download }}" target="_blank"><img src="{{ page.img_thumb }}" alt="item thumbnail for {{ page.title | escape }}" class="img-fluid w-50"></a>
                        {%- endif -%}
                    </p>
                </div>
                {%- endif -%}
                <!--<div class="my-2">
                    <div class="row">
                    
                </div>
                </div>-->
                <!--<div class="d-flex justify-content-center mb-2">
                   {% if page.startdate %}{%- capture year -%}{% if page.startdate contains "-" %}{{ page.startdate | split: "-" | first }}{% elsif page.startdate contains "/" %}{{ page.startdate | split: "/" | last }}{% else %}{{ page.startdate }}{% endif %}{%- endcapture -%}
                    <a href="{{ year | strip | prepend: '/timeline.html#' | relative_url }}" class="mx-1 btn btn-outline-info">View on Timeline</a>{% endif %}
                    {% if page.latitude and page.longitude %}
                    <a href="{{ '/map.html#' | append: page.latitude  | append: ',' | append: page.longitude | relative_url}}" class="mx-1 btn btn-outline-info">View on Map</a>{% endif %}
                </div>-->
                <div class="d-flex justify-content-center">
                <p class="col-9 text-justify">{{page.description}} </p>
            </div>
                <div class="d-flex justify-content-center">
                <p class="text-center"><a href="{{page.download}}" target="_blank" class="btn btn-outline-success">{% unless page.shortorg contains "SPUD"%}Go to the collection {% include icon.html filename="box-arrow-up-right" size="12" class="pb-1"%}{% else %}You've WON! Claim Your King Spud Memorabilia {% include icon.html filename="trophy" size="12" class="pb-1"%}{% endunless %}</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            {% for org in site.data.orgs%}{% if page.org == org.title %}
                <div class=" my-3">
                    <dt class="field mb-3">Collection Steward:</dt>
                    <dd>
                        <a href="{{org.title | prepend: '/browse.html#' | relative_url}}" alt="{{org.title}} logo link to filtered browse page" ><img {%if org.img == 'isa.png' or org.img == 'isu.png'%} class="bg-dark p-2"{% else %}style="max-height:60px;max-width: 200px;"{% endif %} src="/assets/img/logos/{{org.img}}"  alt="{{org.title}} logo"></a>
                    </dd>
                </div>
        {%endif%}{%endfor%}
            <div id="item-metadata" class="metadata">
                <dl>
                    {% for f in fields %}{% if page[f.field] %}
                    <dt class="field">{{ f.display_name }}:</dt>
                    <dd class="field-value">
                        {% if f.browse_link == "true" %}
                        {% assign topics = page[f.field] | split: ";" %}
                        {% for t in topics %}
                        <a class="m-1 btn btn-outline-secondary" href="{{ t | strip | url_param_escape | prepend: '/browse.html#' | relative_url }}">{{ t | strip }}</a>
                        {% endfor %}
                        {% else %}
                        {{ page[f.field] | replace: '""','"' }}{% endif %}
                    </dd>
                    {% endif %}{% endfor %}
                </dl>
            </div>
        </div>
    </div>

    {%- if site.data.theme.browse-buttons == true -%}
    {% assign itemset = site.data[site.metadata] | map: 'objectid' | compact %}
    {% assign last = itemset | size | minus: 1 %}
    {% unless page.index_number == 0 %}
    {% assign back = page.index_number | minus: 1 %}
    {% else %}
    {% assign back = last %}
    {%- endunless -%}
    {% unless page.index_number == last %}
    {% assign forward = page.index_number | plus: 1 %}
    {% else %}
    {% assign forward = 0 %}
    {%- endunless -%}
    {%- assign back_url = '/items/' | append: itemset[back] | append: '.html' | relative_url -%}
    {%- assign forward_url = '/items/' | append: itemset[forward] | append: '.html' | relative_url -%}
    <div class="text-center">
        <a class="btn btn-secondary" href="{{ back_url }}" id="prev-page-button">&laquo; Previous</a>
        <a class="btn btn-secondary" href="{{ '/browse.html' | relative_url }}" >Back to Browse</a>
        <a class="btn btn-secondary" href="{{ forward_url }}" id="next-page-button">Next &raquo;</a>
    </div>
    <div id="item-nav">
        <div class="d-none d-md-block">
            <a class="previous btn btn-lg btn-secondary" href="{{ back_url }}">&laquo;</a>
            <a class="next btn btn-lg btn-secondary" href="{{ forward_url }}">&raquo;</a>
        </div>
    </div>
    {%- endif -%}
</div>