---
layout: page
---
{%- assign items = site.data[site.metadata]  -%}
{%- assign raw-dates = site.data[site.metadata] | map: 'date-range' | compact | uniq  -%}
{%- capture clean-years -%}{% for date in raw-dates %}{% if date contains "-" %}{{ date | strip | split: "-" | first }};{{ date | strip | split: "-" | last }}{% elsif date contains "/" %}{{ date | strip | split: "/" | last }}{% else %}{{ date | strip }}{% endif %}{% unless forloop.last %};{% endunless %}{%- endfor -%}{%- endcapture -%}
{%- assign uniqueYears = clean-years | remove: " " | split: ";" | uniq | sort -%}
{%- if site.data.theme.year-navigation -%}
{%- assign navYears = site.data.theme.year-navigation | split: ";" -%}
{%- else -%}
{%- capture navYears -%}
{%- for i in uniqueYears -%}{%- assign t = i | modulo: site.data.theme.year-nav-increment -%}
{%- if t == 0 -%}{{ i }}{% unless forloop.last %};{% endunless %}{% endif %}{% endfor %}{%- endcapture -%}
{%- assign navYears = navYears | split: ";" -%}
{%- endif -%}

{% assign beginning = uniqueYears | first | times: 1 %}
{% assign end = uniqueYears | last | times: 1  %}
{% assign total_height = end | minus: beginning  %}
  <div class="vizdiv" >
    {{ content }}

    <h3>{{ uniqueYears | first }} to {{ uniqueYears | last }}</h3>
    
    {%- assign items = items | sort: "startdate"  -%}

    <svg class="chart {{item.objectid}}" width="100%" height="3400px" style="overflow:scroll">
        {% for item in items %}{% if item.startdate and item.enddate %}
        {% assign height = item.enddate | minus: item.startdate | times: 1.0  %}
        {% assign height = height | divided_by: total_height  %}
      {% assign vertical_start = item.startdate | minus: beginning | times: 1.0 %}
      {% assign vertical_start =  vertical_start | divided_by: total_height   %}

      <a href="/items/{{item.objectid}}.html"><rect x="{{vertical_start | times: 100}}%" y="{{ forloop.index | times: 20 | minus: 800}}px" width="{{height | times: 100}}%" height="15" data-toggle="tooltip" data-placement="top" class="text-info" title="{{ item.title }}} | {{item.date-range}} {{navyears.startdate}}" ></rect></a>
      {% endif %}{%endfor%}</svg>
  </div>



