---
layout: page

---
{%- assign items = site.data[site.metadata]  -%}
{%- assign raw-dates = site.data[site.metadata] | map: 'date-range' | compact | uniq  -%}
{%- capture clean-years -%}{% for date in raw-dates %}{% if date contains "-" %}{{ date | strip | split: "-" | first }};{{ date | strip | split: "-" | last }}{% elsif date contains "/" %}{{ date | strip | split: "/" | last }}{% else %}{{ date | strip }}{% endif %}{% unless forloop.last %};{% endunless %}{%- endfor -%}{%- endcapture -%}
{%- assign uniqueYears = clean-years | remove: " " | split: ";" | uniq | sort -%}
{%- if site.data.theme.year-navigation -%}
{%- assign navYears = site.data.theme.year-navigation | split: ";" -%}
{%- else -%}
{%- capture navYears -%}
{%- for i in uniqueYears -%}{%- assign t = i | modulo: site.data.theme.year-nav-increment -%}
{%- if t == 0 -%}{{ i }}{% unless forloop.last %};{% endunless %}{% endif %}{% endfor %}{%- endcapture -%}
{%- assign navYears = navYears | split: ";" -%}
{%- endif -%}

{% assign beginning = uniqueYears | first | times: 1 %}
{% assign end = uniqueYears | last | times: 1  %}
{% assign total_years = end | minus: beginning  %}
  
    <h3>Date Range for Collections {{ uniqueYears | first }} to {{ uniqueYears | last }}</h3>
    <p>Use slider to limit collections to specific date range.</p>
    <div class="min-max-slider sticky-top" data-legendnum="2" >
        <label for="min">Minimum year</label>
        <input id="min" class="min" name="min" type="range" step="1" min="{{ beginning }}" max="{{ end }}" />
        <label for="max">Maximum year</label>
        <input id="max" class="max" name="max" type="range"  min="{{ beginning }}" max="{{ end }}" />
    </div>
  
    <div class="text-center mb-3" id="numberOf"></div>

    {%- assign items = items | sort: "startdate"  -%}
    {% for item in items %}{% if item.startdate and item.enddate %}
    {% assign bar_width = item.enddate | minus: item.startdate | times: 1.0  %}
    {% assign bar_width_ratio = bar_width | divided_by: total_years %}
  {% assign bar_start = item.startdate | minus: beginning | times: 1.0 %}
  {% assign bar_start_ratio =  bar_start | divided_by: total_years  %}
  {% assign bar_end =  bar_start | plus: bar_width | divided_by: total_years  %}
  <a href="/items/{{item.objectid}}.html" ><div class="vizdiv border pb-2" data-start="{{item.startdate}}" data-end="{{item.enddate}}" data-title="{{item.objectid}}">
    <!--<p x="0" y="0" data-id="{{item.objectid}}" class="mt-3 pl-2 coll-title" style="display:none">{{ item.title }} </p>-->
    <svg class="chart {{item.objectid}}" width="100%" height="45px" style="overflow:visible">
       
      <rect x="{{bar_start_ratio | times: 100}}%" y="0" width="{{bar_width_ratio | times: 100}}%" height="20" title="{{ item.title }}} | {{item.date-range}}" fill="#50ADA1"  ></rect>
        <text x="{{bar_start_ratio | times: 100 }}%" y="15" font-size="15" fill="black" text-anchor="end">{{item.startdate}} </text>
        {% unless item.startdate == item.enddate %}<text x="{{bar_end | times: 100 }}%" y="15" font-size="15" fill="black" text-anchor="start" class="pl-3"> {{item.enddate}}</text>{% endunless %}
        {% assign startdate = item.startdate | times: 1.0 %}
     
        <text x="4%" y="40" font-size="17" fill="black" text-anchor="start">{{ item.title}}</text>
        
      </svg>
  </div></a>
  {% endif %}{%endfor%}


<script>
    var thumbsize = 14;
    var numberOf = document.getElementById("numberOf");

function draw(slider,splitvalue) {

    /* set function vars */
    var min = slider.querySelector('.min');
    var max = slider.querySelector('.max');
    var lower = slider.querySelector('.lower');
    var upper = slider.querySelector('.upper');
    var legend = slider.querySelector('.legend');
    var thumbsize = parseInt(slider.getAttribute('data-thumbsize'));
    var rangewidth = parseInt(slider.getAttribute('data-rangewidth'));
    var rangemin = parseInt(slider.getAttribute('data-rangemin'));
    var rangemax = parseInt(slider.getAttribute('data-rangemax'));

    /* set min and max attributes */
    min.setAttribute('max',splitvalue);
    max.setAttribute('min',splitvalue);

    /* set css */
    min.style.width = parseInt(thumbsize + ((splitvalue - rangemin)/(rangemax - rangemin))*(rangewidth - (2*thumbsize)))+'px';
    max.style.width = parseInt(thumbsize + ((rangemax - splitvalue)/(rangemax - rangemin))*(rangewidth - (2*thumbsize)))+'px';
    min.style.left = '0px';
    max.style.left = parseInt(min.style.width)+'px';
    min.style.top = lower.offsetHeight+'px';
    max.style.top = lower.offsetHeight+'px';
    legend.style.marginTop = min.offsetHeight+'px';
    slider.style.height = (lower.offsetHeight + min.offsetHeight + legend.offsetHeight)+'px';
    
    /* correct for 1 off at the end */
    if(max.value>(rangemax - 1)) max.setAttribute('data-value',rangemax);

    /* write value and labels */
    max.value = max.getAttribute('data-value'); 
    min.value = min.getAttribute('data-value');
    lower.innerHTML = min.getAttribute('data-value');
    upper.innerHTML = max.getAttribute('data-value');

}

function init(slider) {
    /* set function vars */
    var min = slider.querySelector('.min');
    var max = slider.querySelector('.max');
    var rangemin = parseInt(min.getAttribute('min'));
    var rangemax = parseInt(max.getAttribute('max'));
    var avgvalue = (rangemin + rangemax)/2;
    var legendnum = slider.getAttribute('data-legendnum');

    /* set data-values */
    min.setAttribute('data-value',rangemin);
    max.setAttribute('data-value',rangemax);
    
    /* set data vars */
    slider.setAttribute('data-rangemin',rangemin); 
    slider.setAttribute('data-rangemax',rangemax); 
    slider.setAttribute('data-thumbsize',thumbsize); 
    slider.setAttribute('data-rangewidth',slider.offsetWidth);

    /* write labels */
    var lower = document.createElement('span');
    var upper = document.createElement('span');
    lower.classList.add('lower','value');
    upper.classList.add('upper','value');
    lower.appendChild(document.createTextNode(rangemin));
    upper.appendChild(document.createTextNode(rangemax));
    slider.insertBefore(lower,min.previousElementSibling);
    slider.insertBefore(upper,min.previousElementSibling);
    
    /* write legend */
    var legend = document.createElement('div');
    legend.classList.add('legend');
    var legendvalues = [];
    for (var i = 0; i < legendnum; i++) {
        legendvalues[i] = document.createElement('div');
        var val = Math.round(rangemin+(i/(legendnum-1))*(rangemax - rangemin));
        legendvalues[i].appendChild(document.createTextNode(val));
        legend.appendChild(legendvalues[i]);

    } 
    slider.appendChild(legend);

    /* draw */
    draw(slider,avgvalue);

    /* events */
    min.addEventListener("input", function() {update(min);});
    max.addEventListener("input", function() {update(max);});
}

function update(el){
    /* set function vars */
    var slider = el.parentElement;
    var min = slider.querySelector('#min');
    var max = slider.querySelector('#max');
    var minvalue = Math.floor(min.value);
    var maxvalue = Math.floor(max.value);
   
    var ranges, i;
  ranges = document.querySelectorAll(".vizdiv");
  for (i = 0; i < ranges.length; i++) {
      var range = ranges[i];
    var rangemin = range.getAttribute("data-start");
        var rangemax = range.getAttribute("data-end");
        var rangeobject = range.getAttribute("data-title");
        /*This code limits the ranges to anything with any range within the parameters -- so lots more ranges */
        if (minvalue > rangemax || maxvalue < rangemin ) {
            range.classList.add("hidden-range");
          }
        else {
            range.classList.remove("hidden-range");        
        };
        
        /* The code below will limit to just the ranges within the option -- in some ways this is better but maybe less intuitive to a user */
       /*if (minvalue > rangemin) {
            range.classList.add("hidden-range");
          }
        else if (minvalue < rangemin) {
            range.classList.remove("hidden-range");        
        };
        if (maxvalue < rangemax) {
            range.classList.add("hidden-range");
        }
        else if (maxvalue < rangemax) {
            range.classList.remove("hidden-range");  
        };*/


  }
    
        


    /* set inactive values before draw */
    min.setAttribute('data-value',minvalue);
    max.setAttribute('data-value',maxvalue);

    var avgvalue = (minvalue + maxvalue)/2;

    /* add count of filtered collections */
    var filteredCount = ranges.length - document.querySelectorAll(".hidden-range").length;
    numberOf.innerHTML = "<b>" + filteredCount + " of " + ranges.length + " collections have content in the selected range.</b>";
 
    /* draw */
    draw(slider,avgvalue);
}



var sliders = document.querySelectorAll('.min-max-slider');
sliders.forEach( function(slider) {
    init(slider);
});
</script>
